.vscode
a.out
megaphone
phonebook
account
Zombie
zombieHorde
brain
unViolence
replace
harl
harlFilter
fixed
clapTrap
scavTrap
fragTrap
animals
bureaucrat
form
forms
converter
serializer
obj
whatever
iter
easyfind
abomination
base
